@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Fira Code', monospace;
}

.truncate-multiline {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: auto;

  @media screen and (max-width: 768px) {
    -webkit-line-clamp: 3;
  }
}

.wrap-text-into-div {
  div {
    span {
      text-wrap: wrap;
      word-break: break-all;
    }
  }
}